#wrapper {
    height: 100vh !important;
    padding-right: 0 !important;
}

#tooltip {
    position: absolute;
    z-index: 500;
    background-color: black;
    color: white;
    width: 200px;
    height: fit-content;
    display: none;
    font-size: 11px;
    padding: 8px;
}
